.button-i2732286120-pAPHLp {
  color: #ffffff;
  font-family: 'Overpass', Helvetica;
  font-size: 14px;
  font-weight: 600;
  height: 24px;
  left: 32px;
  letter-spacing: 0;
  line-height: 24px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 8px;
  white-space: nowrap;
}
.button-i2732286220-ynxlyI {
  color: #ffffff;
  font-family: 'Overpass', Helvetica;
  font-size: 14px;
  font-weight: 600;
  height: 24px;
  left: 32px;
  letter-spacing: 0;
  line-height: 24px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 8px;
  white-space: nowrap;
}
.button-i2732286420-GPKCJJ {
  color: #ffffff;
  font-family: 'Overpass', Helvetica;
  font-size: 14px;
  font-weight: 600;
  height: 24px;
  left: 32px;
  letter-spacing: 0;
  line-height: 24px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 8px;
  white-space: nowrap;
}
.button-i2732286520-Cxntnm {
  color: #ffffff;
  font-family: 'Overpass', Helvetica;
  font-size: 14px;
  font-weight: 600;
  height: 24px;
  left: 32px;
  letter-spacing: 0;
  line-height: 24px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 8px;
  white-space: nowrap;
}
.button-i2732286720-DfvvTs {
  color: #ffffff;
  font-family: 'Overpass', Helvetica;
  font-size: 14px;
  font-weight: 600;
  height: 24px;
  left: 32px;
  letter-spacing: 0;
  line-height: 24px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 8px;
  white-space: nowrap;
}
.button-i2732286820-tqrStf {
  color: #ffffff;
  font-family: 'Overpass', Helvetica;
  font-size: 14px;
  font-weight: 600;
  height: 24px;
  left: 32px;
  letter-spacing: 0;
  line-height: 24px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 8px;
  white-space: nowrap;
}
.button-i2732286920-If4CSz {
  color: #ffffff;
  font-family: 'Overpass', Helvetica;
  font-size: 14px;
  font-weight: 600;
  height: 24px;
  left: 32px;
  letter-spacing: 0;
  line-height: 24px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 8px;
  white-space: nowrap;
}
.i27322861-2022185 {
  height: 40px;
  margin-right: 51px;
  margin-top: 26px;
  mix-blend-mode: normal;
  opacity: 1;
  width: 156px;
}
.i27322862-2022185 {
  height: 40px;
  margin-right: 51px;
  margin-top: 26px;
  mix-blend-mode: normal;
  opacity: 1;
  width: 156px;
}
.i27322864-2022185 {
  height: 40px;
  margin-right: 51px;
  margin-top: 26px;
  mix-blend-mode: normal;
  opacity: 1;
  width: 156px;
}
.i27322865-2022185 {
  height: 40px;
  margin-right: 51px;
  margin-top: 26px;
  mix-blend-mode: normal;
  opacity: 1;
  width: 156px;
}
.i27322867-2022185 {
  height: 40px;
  margin-right: 51px;
  margin-top: 26px;
  mix-blend-mode: normal;
  opacity: 1;
  width: 156px;
}
.i27322868-2022185 {
  height: 40px;
  margin-right: 51px;
  margin-top: 26px;
  mix-blend-mode: normal;
  opacity: 1;
  width: 156px;
}
.i27322869-2022185 {
  height: 40px;
  margin-right: 51px;
  margin-top: 26px;
  mix-blend-mode: normal;
  opacity: 1;
  width: 156px;
}
.master-button-JHVtUV {
  background-color: #cd424a;
  border-radius: 8px;
  height: 40px;
  mix-blend-mode: normal;
  opacity: 1;
  position: relative;
}
.master-button-brl5c4 {
  background-color: #cd424a;
  border-radius: 8px;
  height: 40px;
  mix-blend-mode: normal;
  opacity: 1;
  position: relative;
}
.master-button-giMBjK {
  background-color: #cd424a;
  border-radius: 8px;
  height: 40px;
  mix-blend-mode: normal;
  opacity: 1;
  position: relative;
}
.master-button-om413J {
  background-color: #cd424a;
  border-radius: 8px;
  height: 40px;
  mix-blend-mode: normal;
  opacity: 1;
  position: relative;
}
.master-button-tQxyfh {
  background-color: #cd424a;
  border-radius: 8px;
  height: 40px;
  mix-blend-mode: normal;
  opacity: 1;
  position: relative;
}
.master-button-uNVHmW {
  background-color: #cd424a;
  border-radius: 8px;
  height: 40px;
  mix-blend-mode: normal;
  opacity: 1;
  position: relative;
}
.master-button-w69EGN {
  background-color: #cd424a;
  border-radius: 8px;
  height: 40px;
  mix-blend-mode: normal;
  opacity: 1;
  position: relative;
}
